/* SASS COLORS and VARIABLES */
/* Full image background */
body {
  font-family: 'Raleway', sans-serif,cursive;
  background: url(../imgs/bg@1x.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    body {
      background: url(../imgs/bg@2x.jpg) no-repeat center center fixed; } }

main, footer {
  background: white; }

main, .container-fluid {
  padding: 0; }

footer {
  padding: 20px; }

main.container-fluid {
  margin-top: 1200px; }

/* Base presets */
ul {
  padding-left: 0px; }
  ul li {
    list-style-type: none;
    display: inline-block; }
  ul a {
    text-decoration: none; }
    ul a:hover {
      text-decoration: none; }

p {
  text-align: center;
  color: black; }
  p:first-of-type {
    max-width: 720px;
    margin: 0 auto;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 300;
    line-height: 1.5em; }

/* Typogrpahy */
h1 {
  text-align: center;
  color: #666;
  letter-spacing: 3px; }

h2, h3, h4, h5, h6 {
  text-align: center;
  text-transform: uppercase;
  color: #666;
  margin: 40px auto 20px; }

h2 ~ h3, h4 ~ h5 {
  text-transform: none; }

/* Mobile navbar toggle */
span.icon-bar {
  background-color: white; }

.container .navbar-header {
  margin: 0; }

.nav {
  padding-left: 15px;
  padding-right: 15px; }
  .nav ul {
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.35em;
    text-align: center;
    padding: 30px 0; }
    .nav ul li a {
      color: white; }

.navbar-header img {
  height: 45px;
  padding: 5px; }

.navbar-brand {
  padding: 15px 0px; }

header#welcome {
  padding: 165px 50px; }
  header#welcome ul {
    text-align: center;
    padding-top: 45px; }
    header#welcome ul li {
      border: 1px solid black;
      padding: 10px 30px;
      margin: 10px;
      text-transform: uppercase;
      letter-spacing: 2px; }

/*Portfolio wraps for animation */
article ul div {
  display: inline-block;
  overflow: hidden; }

.wrap {
  position: relative;
  overflow: hidden;
  transition: all 2s ease-in-out; }
  .wrap li {
    display: table; }
  .wrap:hover img {
    transform: scale(2.5);
    transition: all 2s ease-in-out;
    z-index: -1; }
  .wrap:hover h3 {
    visibility: visible;
    transition: all 1s ease-in-out;
    z-index: 6;
    background-color: #313139;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 100%; }
  .wrap h3 {
    margin: 0;
    position: absolute;
    color: white;
    width: 100%;
    visibility: hidden;
    padding-top: 50%; }

#services h4 {
  padding-top: 10px;
  color: white; }
  #services h4:first-of-type {
    color: black; }
#services h5 {
  margin-bottom: 80px;
  font-size: 16px; }
#services li {
  list-style-type: none;
  text-align: center; }
  #services li:first-of-type {
    background-color: #F2F2F5;
    color: black; }
  #services li:nth-of-type(2) {
    background-color: #313139; }
    #services li:nth-of-type(2) h4, #services li:nth-of-type(2) h5 {
      color: white; }
  #services li:nth-of-type(3) {
    background-color: #DE5F4C; }
    #services li:nth-of-type(3) h4, #services li:nth-of-type(3) h5 {
      color: white; }
  #services li:last-of-type {
    background-color: #F2F2F5; }
  #services li span {
    font-size: 50px;
    display: block;
    padding: 40px;
    color: white;
    background-color: #28282E;
    border-radius: 50%;
    height: 130px;
    width: 130px;
    margin: 0 auto;
    margin-top: 45px; }

#team ul {
  padding-left: 0; }

/*# sourceMappingURL=style.css.map */
