/* SASS COLORS and VARIABLES */
$primary_color: #F2F2F5 ;
$secondary_color: #313139;
$tertiary_color: #DE5F4C;
$quarternary_color: #666;
$black_accent: #28282E;
$bright_orange: #FF512F;

$font-gray: #666;

/* Full image background */
@mixin retina {
  @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    @content;
  }
}
body {
  font-family: 'Raleway', sans-serif,cursive;
  @include retina {
    background: url(../imgs/bg@2x.jpg) no-repeat center center fixed;
  }
  background: url(../imgs/bg@1x.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
main, footer {
  background: white;
}
main, .container-fluid {
  padding: 0;
}
footer {
  padding: 20px;
}
main.container-fluid {
  margin-top: 1200px;
}
/* Base presets */
ul {
  padding-left: 0px;
  li {
  list-style-type: none;
  display: inline-block;
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}
p {
  text-align: center;
  color: black;
  &:first-of-type {
    max-width: 720px;
    margin: 0 auto;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 300;
    line-height: 1.5em;
  }
}
/* Typogrpahy */
h1 {
  text-align: center;
  color: $font-gray;
  letter-spacing: 3px;
}
h2, h3, h4, h5, h6 {
  text-align: center;
  text-transform: uppercase;
  color: $font-gray;
  margin: 40px auto 20px;
}
h2 ~ h3, h4 ~ h5 {
  text-transform: none;
}
/* Mobile navbar toggle */
span.icon-bar {
  background-color: white;
}
.container .navbar-header {
  margin: 0;
}
.nav {
  padding-left: 15px;
  padding-right: 15px;
  ul {
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.35em;
    text-align: center;
    padding: 30px 0;
    li a {
      color: white;
    }
  }
}
.navbar-header img {
  height: 45px;
  padding: 5px;
}
.navbar-brand {
  padding: 15px 0px;
}
header#welcome {
  padding: 165px 50px;
  ul {
    text-align: center;
    padding-top: 45px;
    li {
    border: 1px solid black;
    padding: 10px 30px;
    margin: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    }
  }
}
/*Portfolio wraps for animation */

article ul div {
  display: inline-block;
  overflow: hidden;
}
.wrap {
  position: relative;
  overflow: hidden;
  transition: all 2s ease-in-out;
  li {
    display: table;
  }
  img, h3 {
    transition: all 2s ease-in-out;
  }
    &:hover {
      img {
        transform: scale(2.5);
        transition: all 2s ease-in-out;
        z-index: -1;
      }
      h3 {
        visibility: visible;
        transition: all 1s ease-in-out;
        z-index: 6;
        background-color: $secondary_color;
        display: table-cell;
        vertical-align: middle;
        height: 100%;
        width: 100%;
      }
  }
  h3 {
  margin: 0;
  position: absolute;
  color: white;
  width: 100%;
  visibility: hidden;
  padding-top: 50%;
  transition: all 2s ease-in-out;
  }
}


#services {
  h4 {
    padding-top: 10px;
    color: white;
    &:first-of-type {
      color: black;
      }
    }
  h5 {
    margin-bottom: 80px;
    font-size: 16px;
    }
  li {
    list-style-type: none;
    text-align: center;
    &:first-of-type {
      background-color: $primary_color;
      color: black;
    }
    &:nth-of-type(2) {
    background-color: $secondary_color;
    h4, h5 {
      color: white;
      }
    }
    &:nth-of-type(3) {
      background-color: $tertiary_color;
      h4, h5 {
        color: white;
      }
    }
    &:last-of-type {
      background-color: $quarternary_color;
      h4, h5 {
        color: white;
      }
    }
    span {
      font-size: 50px;
      display: block;
      padding: 40px;
      color: white;
      background-color: $black_accent;
      border-radius: 50%;
      height: 130px;
      width: 130px;
      margin: 0 auto;
      margin-top: 45px;
    }
  }
}
#blogs {
  .wrap {
    display: inline-block;
  }
}
#team {

  h6 {
    margin-top: 20px;
  }
  img {
    width: 100%;
  }
  ul {
  padding-left: 0;
    li {
      padding: 0;
    }
  }
  .wrap-member {
    h3, h4{
      margin: 0;
      visibility: invisible;
    }
    a {
      position: absolute;
      top: 50%;
      text-align: center;
      width: 100%;
    }
    transition: all 2s ease;
    &:hover {
      background-color: white;
      h3, h4 {
        visibility: visible;
      }
    }
  }
}
