/* SASS COLORS and VARIABLES */
$primary_color: #F2F2F5 ;
$secondary_color: #313139;
$tertiary_color: #DE5F4C;
$quarternary_color: $primary_color;
$black_accent: #28282E;

$font-gray: black;
/* Full image background */
body {
  font-family: 'Raleway', sans-serif,cursive;
  background: url(../imgs/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
main, footer {
  background: white;
}
main, .container-fluid {
  padding: 0;
}
footer {
  padding: 20px;
}
main.container-fluid {
  margin-top: 1200px;
}
/* Base presets */
ul li {
  list-style-type: none;
  display: inline-block;
}

/* Typogrpahy */
h1, h2, h3, h4, h5, h6, p {
  text-align: center;
  color: $primary_color;
}

/* Mobile navbar toggle */
span.icon-bar {
  background-color: white;
}
.container .navbar-header {
  margin: 0;
}
.nav {
  padding-left: 15px;
  padding-right: 15px;
}
.navbar-header img {
  height: 45px;
  padding: 5px;
}

header#welcome {
  padding-top: 165px;
  ul {
    text-align: center;
    padding-top: 45px;
    li {
    border: 1px solid black;
    padding: 20px;
    margin: 0 10px;
  }
}
}

#services {
  li {
    list-style-type: none;
    text-align: center;
    &:first-of-type {
      background-color: $primary_color;
    }
    &:nth-of-type(2) {
    background-color: $secondary_color;
    }
    &:nth-of-type(3) {
      background-color: $tertiary_color;
    }
    &:last-of-type {
      background-color: $quarternary_color;
    }
    span {
      display: block;
      padding: 20px;
      color: white;
      background-color: $font-gray;
      border-radius: 50%;
      height: 60px;
      width: 60px;
      margin: 0 auto;
    }
  }
}
